
<div class="row">
<div class="text-left col-xs-6">
  <%= link_to  "<<トップページへ", root_path %>
</div>
<div class="text-right col-xs-6">
  <%= link_to "管理者について>>", static_pages_kanri_path %>
</div>
</div>
  
<h1 class="text-center about_title">Group Boardについて</h1>
<div class="row about_commnt">
  <div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8 about_pic">
    <p>guroup boardは、投稿したコメントをグループで共有することのできるサービスです。メンバーはトップページに自身の名前とパスワードを入力することで、グループに参加することができます。</p>
  </div>
<br>
  <div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8 about_pic">
    <p>group boardは、多くのメンバーが参加しているグループと、そのグループをまとめているroleと呼ばれる大グループに分かれます。</p>
  </div>
<br>
  <div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8 about_pic">
    <p>学校で例えるのならば、roleは学年、グループはクラス、メンバーは生徒という扱いになります。</p>
  </div>
<br>
  <div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8 about_pic">
    <p>トップページからログインしたメンバーは、自身の所属するグループの投稿コメントだけでなく、roleに所属する全グループの投稿コメントを読むことができます。ただしコメントを投稿できるのは自身が所属しているグループだけです。</p>
  </div>
<br>
  <div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8 about_pic">
    <p>メンバーの初期の名前とパスワードは、</p>
  </div>
<br>
  <div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8 about_pass">
    <p>"role名"-"グループ名"-"メンバー番号"</p>
  </div>
<br>
  <div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8 about_pic">
    <p>です。例えば、role名『gakunen』、グループ名『group5』、メンバー番号『４』の場合、メンバー名とパスワードは、</p>
  </div>
<br>  
  <div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8 about_pic">
    <p>『gakunen-group5-4』となります。</p>
  </div>
<br>
  <div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8 about_pic">
    <p>ログイン後、編集画面でこれらメンバー名とパスワードを任意のものへと変更可能ですので、速やかな変更をオススメします。また、変更後のメンバー名とパスワードは忘れてしまわないよう、大切に扱ってください。</p>
  </div>
<br>
  <div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8 about_pic">
    <p>実際のメンバー名やパスワードについては、各role作成時に設定する管理IDをもつ人の指示に従ってください。</p>
  </div>
<br>
</div>


