<div class="row">
<div class="text-left col-xs-6">
  <%= link_to  "<<トップページへ", root_path %>
</div>
<div class="text-right col-xs-6">
  <%= link_to "Group Boardについて>>", static_pages_about_path %>
</div>
</div>
  
<h1 class="text-center about_title">管理者について</h1>
<div class="row about_commnt">
  <div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8 about_pic">
    <p>このページでは、各roleの管理者が行うこと、できることについての説明をしています。</p>
  </div>
<br>
  <div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8 about_pic">
    <p>まずは、管理者が行うことを説明します。</p>
  </div>
<br>
  <div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8 about_pic">
    <p>管理者は、メンバーがコメントを投稿できるように場を用意する必要があります。その手順として、</p>
  </div>
<br>
  <div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8 about_pic">
    <p>１、トップページ右上のリンクから新しいroleの作成を行ってください。role作成時に設定するのは、role名（英数字入力）、roleに参加するグループの数、管理者の名前、管理者のパスワードです。</p>
  </div>
<br>
  <div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8 about_pic">
    <p>２、作成した管理者名とパスワードを利用して、トップページからログインしてください。</p>
  </div>
<br>
  <div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8 about_pic">
    <p>３、管理画面にログインをしたら、各グループに参加する初期メンバーを作成してください。各グループの編集画面から、メンバーの人数を入力し作成ボタンを押すことでメンバーが作成されます。</p>
  </div>
<br>
  <div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8 about_pic">
    <p>４、作成されたメンバー名とメンバーパスを利用者へと伝えてあげてください。</p>
  </div>
<br>
  <div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8 about_pic">
    <p>管理者には、</p>
  </div>
<br>
  <div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8 about_pic">
    <p>グループの作成、グループの削除、グループ名の変更</p>
  </div>
<br>
  <div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8 about_pic">
    <p>メンバーの追加、メンバーの削除</p>
  </div>
<br>
  <div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8 about_pic">
    <p>コメントの削除</p>
  </div>
<br>
  <div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8 about_pic">
    <p>を行う権限があります。グループやメンバーに変更があった場合や、不適切なコメントがあった場合に活用してください。</p>
  </div>
<br>
  <div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8 about_pic">
    <p>管理者のメンバー名とパスワードは新規role作成時に設定できます。</p>
  </div>
<br>
  <div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8 about_pic">
    <p>管理者のメンバー名は、作成時に入力した『role名』と『role管理名』を合わせたものになります。</p>
  </div>
<br>
  <div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8 about_pic">
    <p>例えば、role名「gakunen」 role管理名「admin」の場合、管理者のメンバー名は『gakunen-admin』になります。管理者としてログインする際には管理者のメンバー名をトップページで入力してログインしてください。</p>
  </div>
<br>
  <div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8 about_pic">
    <p>管理者のパスワードは、role作成時に登録した管理パスをそのままトップページに入力してください。</p>
  </div>
<br>
